body{
    background-image: url(./img/w.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    text-align: center;
    color:white
}
p {
    text-align: center;
    color:white;
    font: size 40px;
}
h2 {
    text-align: center;
    color:white;

    text-align:center ;
}
iframe{
    border-radius: 20px;
}