body {
    background-image:url(./img/w.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img {
    margin-right:inherit;
}
form {
    color:white
}
h1 {
    color: white;
}
a {
    color:white
}